@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
}

html {
	background-color: gray;
}

header,
footer {
	background-color: blue;
	color: white;
	width: 100%;
	display: flex;
	padding: 0.5rem 1.25rem;
}

footer {
	position: absolute;
	bottom: 0;
}

main {
	margin: 2rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

main h1 {
	margin-bottom: 2rem;
}

main form {
	margin-bottom: 3rem;
	display: flex;
}

main form fieldset {
	border: none;
	margin: 0 1rem;
}
